- name: Configure kernel modules and sysctl for Kubernetes
  become: true
  block:
    - name: Ensure required kernel modules are loaded
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter
    - name: Create /etc/modules-load.d/k8s.conf
      ansible.builtin.copy:
        content: |
          overlay
          br_netfilter
        dest: /etc/modules-load.d/k8s.conf
        mode: "0644"
      notify: reload_modules

    - name: Create /etc/sysctl.d/k8s.conf
      ansible.builtin.copy:
        content: |
          net.bridge.bridge-nf-call-iptables = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward = 1
          net.core.somaxconn = 32768
          net.ipv4.ip_local_port_range = 10240 65535
          net.ipv4.tcp_max_syn_backlog = 8096
          vm.overcommit_memory = 1
          net.core.rmem_max = 1073741824
          net.core.wmem_max = 1073741824
          kernel.pid_max = 4194304
          vm.min_free_kbytes = 131072
          vm.dirty_background_ratio = 5
          vm.dirty_ratio = 10
          vm.dirty_expire_centisecs = 12000
          fs.inotify.max_user_instances = 8192
          fs.inotify.max_user_watches = 524288
          fs.aio-max-nr=10485760
          fs.file-max=10485760
          kernel.pid_max=4194304
          kernel.threads-max=1048576
          net.core.default_qdisc = fq
          net.ipv4.tcp_congestion_control = htcp
          net.core.netdev_max_backlog=25000
          net.ipv4.tcp_low_latency = 1
          net.ipv4.tcp_adv_win_scale = 1
          net.core.rmem_max = 1073741824
          net.core.rmem_default = 268435456
          net.core.wmem_max = 1073741824
          net.core.wmem_default = 268435456
          net.ipv4.tcp_rmem = 1048576 16777216 268435456
          net.ipv4.tcp_wmem = 1048576 16777216 268435456
          net.ipv4.tcp_mem = 1048576 16770216 268435456
          net.ipv4.neigh.default.gc_thresh1 = 8192
          net.ipv4.neigh.default.gc_thresh2 = 32768
          net.ipv4.neigh.default.gc_thresh3 = 65536
          net.ipv6.neigh.default.gc_thresh1=8192
          net.ipv6.neigh.default.gc_thresh2=32768
          net.ipv6.neigh.default.gc_thresh3=65536
          net.netfilter.nf_conntrack_max = 524288
          kernel.sched_migration_cost_ns = 500000
          kernel.sched_autogroup_enabled = 0
          kernel.numa_balancing = 0
        dest: /etc/sysctl.d/k8s.conf
        mode: "0644"
      notify: apply_sysctl

    - name: Remove swap entries from /etc/fstab
      ansible.posix.mount:
        name: "{{ item }}"
        fstype: swap
        state: absent
      loop:
        - swap
        - none

    - name: Disable swap immediately
      ansible.builtin.command: /sbin/swapoff -a
      args:
        warn: false
      when:
        - ansible_facts.swaptotal_mb is defined
        - ansible_facts.swaptotal_mb > 0
      changed_when: swapoff_result.rc == 0
      failed_when: swapoff_result.rc != 0 and '"not active"' not in swapoff_result.stderr
      register: swapoff_result
      ignore_errors: false
